.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-footer;
    a{
        border: none;
        background-color: $color-footer;
        color: $color-primary;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}